<footer>$footer</footer>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script><!--ignore-->
<script data-loader src="http://apps.bdimg.com/libs/require.js/2.1.9/require.js"></script>