<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
    #parse('widget/header/header.vm')

    #parse('list/list.vm')

    #parse('widget/footer/footer.vm')

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>